**/.git
**/.vs
**/.vscode
**/bin
**/obj
**/node_modules
**/.env
**/env.sh
**/appsettings.*.json
!**/appsettings.json
**/local.settings.json
**/*.user
**/*.suo
**/TestResults
**/.planning
**/design
**/*.md
!**/host.json
deploy/
.github/
